@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      border-radius: 0px 0px 8px 8px;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	width: 98,8vw;
    height: 40vw;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*Conteudo*/

p, h1 {
    font-family: 'Nanum Gothic', sans-serif;
}

.apresentacao > h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

.apresentacao > p {
    font-size: 23px;
    padding-top: 40px;
}

.apresentacao {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.descricao {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

.descricao > h1 {
    margin-bottom: 40px;
}

.descricao > p {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

/* produtos*/

.div-master {
    width: 90vw;
    margin: 0 auto;
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    row-gap: 75px;
    justify-content: center;
    justify-items: center; 
}

.produto {
    background: #23232e00;
    border-radius: 4px;
}

footer {
    background-color: #19194ed0;
    margin-top: 270px;
}

.visite-footer {
    text-align: center;
    padding-bottom: 17px;
    padding-top: 10px;
}

.p-footer {
    padding-left: 16px;
}

#espaco-footer {
    padding-bottom: 20px;
}

.cabecalho-produto {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.37), rgba(0, 0, 255, 0.26) );
  height: 350px;
  width: 300px;
  border-radius: 7px;
}

.botao-produto {  
  margin: 16px 38% 16px 38%;
  display: inline-block;
  padding: 5px;
}

.botao-produto > a{
  color: rgb(9, 187, 9);
}

.botao-produto > a > p {
  text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.493);
  font-size: 25px;
}